html,
body {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

/* -- NAVBAR -- */

.navbar-nav {
    font-size: 1.25rem;
}

/* -- FOOTER -- */

.before-footer {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/* -- CONTAINERS -- */

.callout-container {
    height: 30vh;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.reminder-container {
    align-items: center;
    justify-content: center;
}

.search-container {
    align-items: center;
    justify-content: center;
}

.career-overview-container {
    background-color: #cbe8ba;
}

.search-header-container {
    min-height: 30vh !important;
    
    background: url("../images/profile-background.png") no-repeat center center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.search-toggler {
    min-height: 30vh !important;
    padding-top: 25vh;
}

.btn-group-toggler {
    vertical-align: middle;
}

/* -- FORM ASSETS -- */



/* -- BUTTONS -- */

.btn--search {
    font-size: 1.1rem;
    border-radius: 10rem;
    width: 10rem;
}

/* -- HEADERS -- */

#indexTitle {
    font-size: 3.5rem;
}

/* ---- MEDIA QUERIES ---- */

@media (min-width: 768px) {
    
/* -- FORM ASSETS -- */
    .rounded-left {
        border-top-left-radius: 10rem !important;
        border-bottom-left-radius: 10rem !important;
    }

    .rounded-right {
        border-top-right-radius: 10rem !important;
        border-bottom-right-radius: 10rem !important;
    }
    
    .rounded-top-left {
        border-top-left-radius: 1rem !important;
    }
    
    .rounded-top-right {
        border-top-right-radius: 1rem !important;
    }
}
